* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
}

.navbar {
  background-color: #000;
  padding: 15px 0;
}

.navbar ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 30px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.navbar a:hover {
  color: #999;
}
